.SommairePanier {
  background-color: #c51152;
  position: absolute;
  height: 40px;
  right: 0;
  bottom:-40px;
  padding: 5px;
  font-size: 0.9em;
  
  span:not(:last-of-type) {
    padding-right: 5px;
    border-right: 1px solid white;
  }
}